<form class="form-group container" (ngSubmit)="agregar()" #templateForm="ngForm">
    <div *ngIf="templateForm.invalid && templateForm.touched" class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <div>Error: Formulario inválido.</div>
    </div>
    <div>
        <label for="proyecto">Proyecto</label>
        <input 
            class="form-control" 
            type="text" 
            id="proyecto" 
            autocomplete="off" 
            placeholder="Nombre del proyecto"
            ngModel
            name="proyecto"
            minlength="3"
            maxlength="15"
            required
        />
    </div>
    <div>
        <label for="horas">Horas</label>
        <input 
            class="form-control" 
            type="number" 
            id="horas" 
            placeholder="Horas para completar"
            ngModel
            name="horas"
            required
            min="0"
            max="25"
        >
    </div>
    <div>
        <label for="tecnologias">Tecnologías</label>
        <div class="row">
            <div class="col-12 col-md-8">
                <input 
                    class="form-control" 
                    type="text" 
                    id="tecnologias" 
                    autocomplete="off" 
                    placeholder="Nombre de la tecnología"
                >
            </div>
            <div class="col-12 col-md-4">
                <button class="btn btn-success">Agregar tecnología</button>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-warning mt-2 w-100" type="submit">Agregar Proyecto</button>
    </div>
</form>

<pre>
    Touched: {{ templateForm.touched }}
    Proyecto: {{ templateForm.value | json }}
    Válido: {{ templateForm.valid }}
    Nombre: {{ templateForm.controls["proyecto"]?.errors | json }}
    Horas: {{ templateForm.controls["horas"]?.errors | json }}
</pre>
